$small-size: 640px;
$medium-size: 768px;
$large-size: 1024px;
$x-large-size: 1280px;

$small-up: "(min-width: #{$small-size})";
$medium-up: "(min-width: #{$medium-size})";
$large-up: "(min-width: #{$large-size})";
$x-large-up: "(min-width: #{$x-large-size})";

$black: #3D2C2E;
$white: #F5EDF0;

$color-1: $black;
$color-2: $white;
$color-3: #424C55;
$color-4: #AEACBB;
$color-5: #F0CF65;

$nunito: "Nunito Sans", sans-serif;