@use 'partials/variables' as var;
footer{
    align-items: center;
    background-color: var.$color-1;
    bottom: -8.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    z-index: 1;

    .btn__retour-haut{
        align-items: center;
        background-color: var.$color-1;
        border: .2rem solid var.$color-1;
        border-radius: 100%;
        display: flex;
        cursor: pointer;
        justify-content: center;
        padding: 2rem 2rem;
        position: absolute;
        right: 50%;
        top: -2.2rem;
        transform: translateX(50%);
        z-index: -1;

        i{
            transform: scale(.75) translate(0, -3.1rem);
        }

        &:hover{
            background-color: var.$color-5;
        }

        &:active{
            box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 20%);
        }
    }

    .texte__content{
        align-items: center;
        background-color: var.$color-1;
        color: var.$color-2;
        display: flex;
        flex-direction: column;
        font-size: .9rem;
        gap: .5rem;
        justify-content: center;
        letter-spacing: 1px;
        padding: 2rem;
        width: 100%;
        z-index: 1;
    }
}