@use 'partials/variables' as var;

footer{
    align-items: center;
    background-color: var.$color-1;
    color: var.$color-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
    padding: 5rem 2rem;
    user-select: none;
    z-index: 10;

    p{
        color: var.$color-2;
        padding: .3rem;
    }
}