@use 'partials/variables' as var;

header{
    align-items: center;
    background-color: var.$color-1;
    display: flex;
    gap: .5rem;
    height: 120px;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    top: 0;
    transition: .8s;
    z-index: 100;

    h1 a{
        color: var.$color-3;
        font-family: "Lora", serif;
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 2px;
        text-decoration: none;
        z-index: 1;

        @media screen and #{var.$large-up} {
            font-size: 1.8rem;
        }

        @media screen and #{var.$x-large-up} {
            font-size: 2rem;
        }

        &:hover{
            border-bottom: .1rem solid var.$color-5;
            color: var.$color-5;
        }
    }

    nav{
        background-color: var.$color-1;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        height: 80vh;
        overflow: scroll;
        padding: 7.5rem 6rem;
        position: absolute;
        right: 0;
        top: 0;
        width: fit-content;
        z-index: -1;


        ul.first-level{
            align-self: center;
            display: flex;
            flex-flow: column wrap;
            font-size: 1.5rem;
            gap: 2rem;
            justify-content: center;
            
            @media screen and #{var.$large-up} {
                gap: 3rem;
            }

            a{
                color: var.$color-2;
                font-size: 1.2rem;
                font-weight: 200;

                @media screen and #{var.$large-up} {
                    font-size: 2rem;
                }
            }
            
            a:hover{
                color: var.$color-5;
            }

            @media screen and (min-width: 1024px){
                .level-2__link{
                    font-size: 1.4rem;
                }
            }
        }
    }

    .menu__icon{
        align-items: center;
        background-color: var.$color-2;
        border-radius: .2rem;
        cursor: pointer;
        display: flex;
        padding: .1rem .3rem;
        transition: .8s;
        transform: scale(.9);

        &:hover{
            background-color: var.$color-5;
        }

        &:active{
            filter: brightness(1.4);
        }
    }

    .open{
        background-color: var.$color-5;
        filter: brightness(1.2);
        transform: scale(1) rotate(180deg);
    }
}

.minimize{
    height: 55px;
    padding: .7rem 2rem;
    opacity: .9;
}